#### In this notebook, we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL.

They are essentially intermediate results sets that we access with another query, so a query inside another query. We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the use of a subquery in the SELECT clause.

# Overview


### Imagine we want to calculate the percentage of land area a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region.

### That is a challenging question because we need to divide each country's land area with the sum of all countries in that sub-region. To do it, we can use a subquery. For example, let's just look at one sub-region for now, Middle Africa, and use the Geographic_location table to find out the percentage of land each country has as a percentage of the total for 'Middle Africa'.

# Connecting to our MySQL database

In [4]:
%load_ext sql

In [8]:
from sqlalchemy import create_engine 

engine = create_engine("mysql+pymysql://root:Olisebinum@localhost:3306/united_nations")

%sql engine

%%sql 
    
SHOW TABLES;

# 1. Calculate the total land area of the 'Middle Africa' sub-region
Write a query that will find the Land_area sum for the Middle Africa sub-region. Call this column total_land_area.

In [14]:
%%sql

SELECT 
    SUM(Land_area) AS Total_land_area
FROM
    Geographic_Location
WHERE 
    Sub_region = "Middle Africa" ;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

1 rows affected.

+-----------------+
| Total_land_area |
+-----------------+
|    3888270.00   |
+-----------------+

## 2. Calculate land area percentages for the Middle African countries using a static value


Recall that, to find the percentage of land area each country in the Middle Africa sub-region occupies, we need to divide each country’s land area with the total_land_area, which we have calculated above. Copy and paste this land area value into a new query and calculate the percentages. Call this calculated column pct_regional_land.

In [15]:
%%sql

SELECT 
    Country_name,
    ROUND(Land_area/ (3888270.00) * 100) as Pct_regional_land
FROM
    Geographic_Location
WHERE
    Sub_region = "Middle Africa" ;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | Pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |         32        |
|             Cameroon             |         12        |
|     Central African Republic     |         16        |
|               Chad               |         32        |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |         1         |
|              Gabon               |         7         |
|      Sao Tome and Principe       |         0         |
+----------------------------------+-------------------+

## 3. Calculate land area percentages for the Middle African countries using a subquery

Instead of using the static value above, let's improve our query by using a subquery to achieve the same result.

Hint: The subquery in this case will be the query we created to find the total land area in Exercise 1.

In [16]:
%%sql

SELECT 
    Country_name,
    ROUND(Land_area/ (SELECT 
                        SUM(Land_area)
                        FROM
                            Geographic_Location
                        WHERE 
                            Sub_region = "Middle Africa" ) * 100 )  as Pct_regional_land
FROM
    Geographic_Location
WHERE
    Sub_region = "Middle Africa" ;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+----------------------------------+-------------------+
|           Country_name           | Pct_regional_land |
+----------------------------------+-------------------+
|              Angola              |         32        |
|             Cameroon             |         12        |
|     Central African Republic     |         16        |
|               Chad               |         32        |
|              Congo               |        None       |
| Democratic Republic of the Congo |        None       |
|        Equatorial Guinea         |         1         |
|              Gabon               |         7         |
|      Sao Tome and Principe       |         0         |
+----------------------------------+-------------------+

## 4. Calculate country land area percentages for all the regions using a correlated subquery

Transform the subquery in Exercise 2 into a correlated subquery that will calculate land area percentages for all the regions.

Hint: Use the general syntax above to help you figure out how to achieve this.

In [19]:
%%sql

SELECT
    Country_name,
    ROUND(Land_area / (
                        SELECT
                            SUM(Land_area)
                        FROM
                            Geographic_location
                        WHERE
                            Sub_region = g.Sub_region) * 100, 2) as Pct_regional_land
FROM
    Geographic_location AS g;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+-------------------+
|     Country_name    | Pct_regional_land |
+---------------------+-------------------+
|     Afghanistan     |       13.67       |
|       Algeria       |       36.03       |
|    American Samoa   |        2.77       |
|        Angola       |       32.06       |
|       Anguilla      |        None       |
| Antigua and Barbuda |        0.21       |
|      Argentina      |       17.77       |
|       Armenia       |        0.82       |
|        Aruba        |        0.09       |
|      Australia      |       96.69       |
+---------------------+-------------------+
Truncated to displaylimit of 10.

# Subquery in the JOIN clause

## In this notebook we will look at subqueries, which are powerful tools to enable more in-depth analysis in SQL. 

They are essentially intermediate results sets that we access with another query, so a query inside another query.

We can use subqueries in various places in a query, and those subquery results also have various forms. Here, we look at the use of a subquery in the JOIN clause.

# Overview
Imagine we want to calculate the percentage of land area that a specific country in a sub-region occupies, as a percentage of the total land area in that sub-region. We would need to divide each country’s land area with the sum of all countries in that sub-region.

Previously, we created a correlated subquery that calculated the land area for each row. Let’s improve on that. It would be more efficient if we calculated the total land area once for each sub-region. We can then run a query that would just retrieve the land area value from the result of the inner query.

# Connecting to our MySQL database¶

We will use our Geographic_location table in our united_nations database that we created in MySQL Workbench. We can apply the same queries we used in MySQL Workbench in this notebook if we connect to our MySQL server by running the cells below.

# Exercise

1. Calculate the total land area for each sub-region
Write a query that will aggregate the data by summing the land area and then grouping the sums by sub-region. Give the sums the alias TotalLandArea.

In [21]:
%%sql 
    
SELECT 
    SUM(Land_area) as Totalandarea,
    Sub_region
FROM
    Geographic_Location
GROUP BY 
    Sub_region ;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

18 rows affected.

+--------------+---------------------------+
| Totalandarea |         Sub_region        |
+--------------+---------------------------+
|  4770135.41  |       Southern Asia       |
|  6610941.00  |      Northern Africa      |
|   7217.67    |         Polynesia         |
|  3888270.00  |       Middle Africa       |
|  208104.00   |         Caribbean         |
| 15401392.00  |       South America       |
|  3488571.67  |        Western Asia       |
|  7953710.00  | Australia and New Zealand |
|  2452080.00  |      Central America      |
|  5735548.83  |       Western Africa      |
+--------------+---------------------------+
Truncated to displaylimit of 10.

## 2. Calculate country land area percentages for all the regions using a subquery in the JOIN clause

Create a query with a main query that selects, from the Geographic_location table, the columns Country_name, Land_area, and Sub_region. The next line should then divide the Land area by the land area totals named, TotalLandArea, gotten from the subquery. Give this calculated column the alias Pct_of_region_land.

The query should also have a JOIN clause where we will add the query we created in Exercise 1 as a subquery named Land_per_region. This join occurs between the Geographic_location table and the Land_per_region subquery on the Sub_region column.

In [22]:
%%sql

SELECT
    geoloc.Country_name,
    geoloc.Land_area,
    geoloc.Sub_region,
    (geoloc.Land_area / Land_per_region.Total_Land_Area) * 100 AS Pct_Of_Region_Land
FROM
    Geographic_location AS geoloc
JOIN
    (
    SELECT
        Sub_region,
        SUM(Land_area) AS Total_Land_Area
    FROM
        Geographic_location
    GROUP BY
        Sub_region)  AS Land_per_region
    ON
        geoloc.Sub_region = Land_per_region.sub_Region;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+------------+---------------------------+--------------------+
|     Country_name    | Land_area  |         Sub_region        | Pct_Of_Region_Land |
+---------------------+------------+---------------------------+--------------------+
|     Afghanistan     | 652230.00  |       Southern Asia       |     13.673197      |
|       Algeria       | 2381741.00 |      Northern Africa      |     36.027261      |
|    American Samoa   |   200.00   |         Polynesia         |      2.770977      |
|        Angola       | 1246700.00 |       Middle Africa       |     32.063103      |
|       Anguilla      |    None    |         Caribbean         |        None        |
| Antigua and Barbuda |   440.00   |         Caribbean         |      0.211433      |
|      Argentina      | 2736690.00 |       South America       |     17.769108      |
|       Armenia       |  28470.00  |        Western Asia       |      0.816093      |
|        Aruba        |   180.00   |         Caribbean         |      0.086495      |
|      Australia      | 7690400.00 | Australia and New Zealand |     96.689469      |
+---------------------+------------+---------------------------+--------------------+
Truncated to displaylimit of 10.

In [23]:
%%sql

SELECT
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+

# Exercise
In this exercise. We will use a subquery to answer the following question: What is the average GDP and population for countries with unemployment rates above 5%?

## Creating the subquery
Construct the subquery that displays the average GDP and average population of countries for 2020. The query should have the following columns: Country_name, Avg_GDP, Avg_Population

In [26]:
%%sql 

SELECT 
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_Gdp_in_billions,
    AVG(Est_population_in_millions)  AS Avg_population_in_millions
FROM
    Economic_Indicators
WHERE 
    Time_period = 2020 AND Pct_unemployment  > 5
GROUP BY 
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+---------------------+----------------------------+
|    Country_name   | Avg_Gdp_in_billions | Avg_population_in_millions |
+-------------------+---------------------+----------------------------+
|    Afghanistan    |      20.140000      |       38.9722300000        |
|     Argentina     |      385.540000     |       45.3767630000        |
|      Armenia      |      12.640000      |        2.8056080000        |
|     Australia     |     1326.900000     |       25.6552890000        |
|     Azerbaijan    |      42.690000      |       10.0931210000        |
|       Bhutan      |       2.330000      |        0.7725060000        |
|      Botswana     |      14.930000      |        2.5464020000        |
|       Brazil      |     1448.560000     |       213.1963040000       |
| Brunei Darussalam |      12.010000      |        0.4417250000        |
|       Canada      |     1645.420000     |       38.0372040000        |
+-------------------+---------------------+----------------------------+
Truncated to displaylimit of 10.

In [27]:
%%sql

SELECT
    Country_name,
    Est_gdp_in_billions,
    Est_population_in_millions
FROM
    Economic_Indicators
WHERE
    Pct_unemployment > 5
    AND Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+---------------------+----------------------------+
|    Country_name   | Est_gdp_in_billions | Est_population_in_millions |
+-------------------+---------------------+----------------------------+
|    Afghanistan    |        20.14        |         38.972230          |
|     Argentina     |        385.54       |         45.376763          |
|      Armenia      |        12.64        |          2.805608          |
|     Australia     |       1326.90       |         25.655289          |
|     Azerbaijan    |        42.69        |         10.093121          |
|       Bhutan      |         2.33        |          0.772506          |
|      Botswana     |        14.93        |          2.546402          |
|       Brazil      |       1448.56       |         213.196304         |
| Brunei Darussalam |        12.01        |          0.441725          |
|       Canada      |       1645.42       |         38.037204          |
+-------------------+---------------------+----------------------------+
Truncated to displaylimit of 10.

## Creating the main query
Construct a query that filters out countries with unemployment rates above 5%. The query should include the following columns: Country_name, Est_gdp_in_billions, Est_population_in_millions.

In [28]:
%%sql

SELECT
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    Economic_Indicators
GROUP BY
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

+---------------------+-------------+----------------+
|     Country_name    |   Avg_GDP   | Avg_Population |
+---------------------+-------------+----------------+
|     Afghanistan     |  19.063333  | 36.2436061667  |
|       Algeria       |  164.633333 | 41.5171783333  |
|    American Samoa   |   0.660000  |  0.0488688333  |
|        Angola       |  67.791667  | 30.7577836667  |
|       Anguilla      |     None    |      None      |
| Antigua and Barbuda |   1.416667  |  0.0905413333  |
|      Argentina      |  525.670000 | 44.2628536667  |
|       Armenia       |  11.891667  |  2.8431866667  |
|        Aruba        |   2.970000  |  0.1045655000  |
|      Australia      | 1338.516667 | 24.7605421667  |
+---------------------+-------------+----------------+
Truncated to displaylimit of 10.

## Combining the queries
Using the query and the subquery, determine the average GDP and population for countries with unemployment rates above 5%. Group the results by Country_name.

In [31]:
%%sql

SELECT
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM 
    (SELECT
        Country_name,
        Est_population_in_millions,
        Est_gdp_in_billions
    FROM
        Economic_Indicators 
    WHERE
        Pct_unemployment > 5
        AND Time_period = 2020)  AS Filterd_Results 
GROUP BY
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+-------------+----------------+
|    Country_name   |   Avg_GDP   | Avg_Population |
+-------------------+-------------+----------------+
|    Afghanistan    |  20.140000  | 38.9722300000  |
|     Argentina     |  385.540000 | 45.3767630000  |
|      Armenia      |  12.640000  |  2.8056080000  |
|     Australia     | 1326.900000 | 25.6552890000  |
|     Azerbaijan    |  42.690000  | 10.0931210000  |
|       Bhutan      |   2.330000  |  0.7725060000  |
|      Botswana     |  14.930000  |  2.5464020000  |
|       Brazil      | 1448.560000 | 213.1963040000 |
| Brunei Darussalam |  12.010000  |  0.4417250000  |
|       Canada      | 1645.420000 | 38.0372040000  |
+-------------------+-------------+----------------+
Truncated to displaylimit of 10.

In [32]:
%%sql

SELECT
    Country_name,
    AVG(Est_gdp_in_billions) AS Avg_GDP,
    AVG(Est_population_in_millions) AS Avg_Population
FROM
    (SELECT
        Country_name,
        Est_gdp_in_billions,
        Est_population_in_millions
    FROM
        Economic_Indicators
    WHERE
        Pct_unemployment > 5
        AND Time_period = 2020) AS FilteredCountries
GROUP BY
    Country_name;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

37 rows affected.

+-------------------+-------------+----------------+
|    Country_name   |   Avg_GDP   | Avg_Population |
+-------------------+-------------+----------------+
|    Afghanistan    |  20.140000  | 38.9722300000  |
|     Argentina     |  385.540000 | 45.3767630000  |
|      Armenia      |  12.640000  |  2.8056080000  |
|     Australia     | 1326.900000 | 25.6552890000  |
|     Azerbaijan    |  42.690000  | 10.0931210000  |
|       Bhutan      |   2.330000  |  0.7725060000  |
|      Botswana     |  14.930000  |  2.5464020000  |
|       Brazil      | 1448.560000 | 213.1963040000 |
| Brunei Darussalam |  12.010000  |  0.4417250000  |
|       Canada      | 1645.420000 | 38.0372040000  |
+-------------------+-------------+----------------+
Truncated to displaylimit of 10.