## SQL Packages to be installed 

1.pymsysql
2.Sqlalchemy
3.Jupysql

In [1]:
!pip install pymysql
!pip install sqlalchemy
!pip install jupysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.12/site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy) (3.0.1)
Collecting jupysql
  Using cached jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Collecting prettytable>=3.12.0 (from jupysql)
  Using cached prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.12/site-packages (from jupysql) (1.4.39)
Requirement already satisfied: sqlparse in /opt/anaconda3/lib/python3.12/site-packages (from jupysql) (0.5.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /opt/anaconda3/lib/python3.12/site-packages (from jupysql) (3.1.4)
Collecting sqlglot>=11.3.7 (from jupysql)
  Using cached sqlglot-26.24.0-py3-none-any.whl.metadata (20 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Using cached jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Using cached ploomber_core-0.2.26-py3-none-any.whl.metadata (527 bytes)
Requirement already satisfied: pyyaml in /opt/anaconda3/lib/python3.12/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.1)
Collecting posthog (from ploomber-core>=0.2.7->jupysql)
  Using cached posthog-4.2.0-py2.py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: wcwidth in /opt/anaconda3/lib/python3.12/site-packages (from prettytable>=3.12.0->jupysql) (0.2.5)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2->jupysql) (2.1.3)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy->jupysql) (3.0.1)
Requirement already satisfied: requests<3.0,>=2.7 in /opt/anaconda3/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.2)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.16.0)
Requirement already satisfied: python-dateutil>=2.2 in /opt/anaconda3/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog->ploomber-core>=0.2.7->jupysql)
  Using cached backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2025.4.26)
Using cached jupysql-0.11.1-py3-none-any.whl (95 kB)
Using cached jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
Using cached ploomber_core-0.2.26-py3-none-any.whl (22 kB)
Using cached prettytable-3.16.0-py3-none-any.whl (33 kB)
Using cached sqlglot-26.24.0-py3-none-any.whl (464 kB)
Using cached posthog-4.2.0-py2.py3-none-any.whl (96 kB)
Using cached backoff-2.2.1-py3-none-any.whl (15 kB)
Installing collected packages: sqlglot, prettytable, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.5.0
    Uninstalling prettytable-3.5.0:
      Successfully uninstalled prettytable-3.5.0
Successfully installed backoff-2.2.1 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.26 posthog-4.2.0 prettytable-3.16.0 sqlglot-26.24.0

# Preparing the enviroments

Client- server SQL Architecture

In [2]:
# Load JupySQL extension
%load_ext sql

# Create SQLAlchemy engine
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://root:Olisebinum@localhost:3306/united_nations")

# Connect JupySQL to the engine
%sql engine

In [4]:
%%sql 

SELECT *
FROM
    united_nations.Access_to_Basic_Services
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2020    |                95.00                |              98.00              |         18.755666          |        171.08       | 2699700.00 |       4.89       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2015    |                89.67                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2016    |                90.33                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2017    |                91.00                |              97.33              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2018    |                91.33                |              97.33              |            None            |         None        |    None    |       None       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

In [7]:
%%sql
SELECT DISTINCT
    Country_name
FROM
    Access_to_Basic_Services
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+----------------------------+
|        Country_name        |
+----------------------------+
|         Kazakhstan         |
|         Kyrgyzstan         |
|         Tajikistan         |
|        Turkmenistan        |
|         Uzbekistan         |
|        Afghanistan         |
|         Bangladesh         |
|           Bhutan           |
|           India            |
| Iran (Islamic Republic of) |
+----------------------------+
Truncated to displaylimit of 10.

# Creating a table country list to store distinct names of the country

In [9]:
%%sql
    
CREATE TABLE Country_list1 (Country VARCHAR(255));
INSERT INTO country_list1(Country)

SELECT DISTINCT
    Country_name
FROM
    Access_to_Basic_Services;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

182 rows affected.

++
||
++
++

In [10]:
%%sql
SHOW TABLES;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

3 rows affected.

+--------------------------+
| Tables_in_united_nations |
+--------------------------+
| Access_to_Basic_Services |
|       Country_list       |
|      Country_list1       |
+--------------------------+

### Accessing Specific Columns

In [11]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services
FROM
    Access_to_Basic_Services
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------+-------------+-------------------------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services |
+--------------+-------------+-------------------------------------+
|  Kazakhstan  |     2015    |                94.67                |
|  Kazakhstan  |     2016    |                94.67                |
|  Kazakhstan  |     2017    |                95.00                |
|  Kazakhstan  |     2018    |                95.00                |
|  Kazakhstan  |     2019    |                95.00                |
|  Kazakhstan  |     2020    |                95.00                |
|  Kyrgyzstan  |     2015    |                89.67                |
|  Kyrgyzstan  |     2016    |                90.33                |
|  Kyrgyzstan  |     2017    |                91.00                |
|  Kyrgyzstan  |     2018    |                91.33                |
+--------------+-------------+-------------------------------------+
Truncated to displaylimit of 10.

In [12]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services AS Pct_access_to_water
FROM
    Access_to_Basic_Services
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------+-------------+---------------------+
| Country_name | Time_period | Pct_access_to_water |
+--------------+-------------+---------------------+
|  Kazakhstan  |     2015    |        94.67        |
|  Kazakhstan  |     2016    |        94.67        |
|  Kazakhstan  |     2017    |        95.00        |
|  Kazakhstan  |     2018    |        95.00        |
|  Kazakhstan  |     2019    |        95.00        |
|  Kazakhstan  |     2020    |        95.00        |
|  Kyrgyzstan  |     2015    |        89.67        |
|  Kyrgyzstan  |     2016    |        90.33        |
|  Kyrgyzstan  |     2017    |        91.00        |
|  Kyrgyzstan  |     2018    |        91.33        |
+--------------+-------------+---------------------+
Truncated to displaylimit of 10.

### Filtering & Sorting

In [13]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services AS Pct_access_to_water
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020
LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+----------------------------+-------------+---------------------+
|        Country_name        | Time_period | Pct_access_to_water |
+----------------------------+-------------+---------------------+
|         Kazakhstan         |     2020    |        95.00        |
|         Kyrgyzstan         |     2020    |        92.67        |
|         Tajikistan         |     2020    |        85.00        |
|        Turkmenistan        |     2020    |        100.00       |
|         Uzbekistan         |     2020    |        98.00        |
|        Afghanistan         |     2020    |        80.33        |
|         Bangladesh         |     2020    |        97.67        |
|           Bhutan           |     2020    |        97.33        |
|           India            |     2020    |        91.00        |
| Iran (Islamic Republic of) |     2020    |        96.67        |
+----------------------------+-------------+---------------------+
Truncated to displaylimit of 10.

#### Sorting

In [14]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services AS Pct_access_to_water
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020
ORDER BY
        Pct_access_to_water
LIMIT 20;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

20 rows affected.

+----------------------------------+-------------+---------------------+
|           Country_name           | Time_period | Pct_access_to_water |
+----------------------------------+-------------+---------------------+
|     Central African Republic     |     2020    |        38.33        |
| Democratic Republic of the Congo |     2020    |        47.67        |
|           South Sudan            |     2020    |        48.33        |
|              Angola              |     2020    |        52.33        |
|               Chad               |     2020    |        52.67        |
|           Burkina Faso           |     2020    |        53.33        |
|            Madagascar            |     2020    |        56.33        |
|         Papua New Guinea         |     2020    |        56.67        |
|              Niger               |     2020    |        57.33        |
|             Somalia              |     2020    |        57.33        |
+----------------------------------+-------------+---------------------+
Truncated to displaylimit of 10.

In [20]:
%%sql 

SELECT * 
FROM
    Access_to_Basic_Services
WHERE Region = "Sub-Saharan Africa" 
AND Time_period = 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

47 rows affected.

+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|       Region       |   Sub_region   | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |  25680.00  |       1.03       |
| Sub-Saharan Africa | Eastern Africa |   Djibouti   |     2020    |                69.00                |              56.00              |          1.090156          |         3.18        |  23180.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |   Ethiopia   |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       | 1128571.26 |       None       |
| Sub-Saharan Africa | Eastern Africa |    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       | 569140.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |  Madagascar  |     2020    |                56.33                |              13.00              |         28.225177          |        13.05        | 581800.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |    Malawi    |     2020    |                74.33                |              28.67              |         19.377061          |        12.18        |  94280.00  |       0.91       |
| Sub-Saharan Africa | Eastern Africa |  Mauritius   |     2020    |                100.00               |              96.00              |          1.265740          |        11.40        |  2030.00   |       8.63       |
| Sub-Saharan Africa | Eastern Africa |   Mayotte    |     2020    |                96.00                |              100.00             |            None            |         None        |    None    |       None       |
| Sub-Saharan Africa | Eastern Africa |  Mozambique  |     2020    |                66.67                |              40.33              |         31.178239          |        14.03        | 786380.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |    Rwanda    |     2020    |                66.33                |              64.00              |         13.146362          |        10.18        |  24670.00  |      11.83       |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

In [18]:
%%sql

SELECT DISTINCT 
    Region
FROM
    access_to_basic_services;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

7 rows affected.

+----------------------------------+
|              Region              |
+----------------------------------+
|    Central and Southern Asia     |
|  Eastern and South-Eastern Asia  |
|   Europe and Northern America    |
| Latin America and the Caribbean  |
| Northern Africa and Western Asia |
|             Oceania              |
|        Sub-Saharan Africa        |
+----------------------------------+

In [23]:
%%sql

SELECT
    *
FROM
    access_to_basic_services
WHERE 
    Est_gdp_in_billions IS  NULL
AND 
     Region = "Sub-Saharan Africa"
AND 
    Time_period = 2020
LIMIT 
    10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

9 rows affected.

+--------------------+----------------+----------------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
|       Region       |   Sub_region   |           Country_name           | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area | Pct_unemployment |
+--------------------+----------------+----------------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+
| Sub-Saharan Africa | Eastern Africa |             Mayotte              |     2020    |                96.00                |              100.00             |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Eastern Africa |             Réunion              |     2020    |                100.00               |              100.00             |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Eastern Africa |           South Sudan            |     2020    |                48.33                |              22.33              |         10.606227          |         None        | 631930.00 |       None       |
| Sub-Saharan Africa | Eastern Africa |   United Republic of Tanzania    |     2020    |                65.00                |              34.00              |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Middle Africa  |              Congo               |     2020    |                69.00                |              17.67              |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Middle Africa  | Democratic Republic of the Congo |     2020    |                47.67                |              15.33              |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Western Africa |          Côte d'Ivoire           |     2020    |                70.67                |              34.67              |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Western Africa |              Gambia              |     2020    |                79.33                |              44.33              |            None            |         None        |    None   |       None       |
| Sub-Saharan Africa | Western Africa |           Saint Helena           |     2020    |                99.00                |              100.00             |            None            |         None        |    None   |       None       |
+--------------------+----------------+----------------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+-----------+------------------+

In [24]:
%%sql

SELECT
    *
FROM
    access_to_basic_services
WHERE 
    Est_gdp_in_billions IS NOT NULL
AND 
     Region = "Sub-Saharan Africa"
AND 
    Time_period = 2020
LIMIT 
    10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|       Region       |   Sub_region   | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Sub-Saharan Africa | Eastern Africa |   Burundi    |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |  25680.00  |       1.03       |
| Sub-Saharan Africa | Eastern Africa |   Djibouti   |     2020    |                69.00                |              56.00              |          1.090156          |         3.18        |  23180.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |   Ethiopia   |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       | 1128571.26 |       None       |
| Sub-Saharan Africa | Eastern Africa |    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       | 569140.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |  Madagascar  |     2020    |                56.33                |              13.00              |         28.225177          |        13.05        | 581800.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |    Malawi    |     2020    |                74.33                |              28.67              |         19.377061          |        12.18        |  94280.00  |       0.91       |
| Sub-Saharan Africa | Eastern Africa |  Mauritius   |     2020    |                100.00               |              96.00              |          1.265740          |        11.40        |  2030.00   |       8.63       |
| Sub-Saharan Africa | Eastern Africa |  Mozambique  |     2020    |                66.67                |              40.33              |         31.178239          |        14.03        | 786380.00  |       None       |
| Sub-Saharan Africa | Eastern Africa |    Rwanda    |     2020    |                66.33                |              64.00              |         13.146362          |        10.18        |  24670.00  |      11.83       |
| Sub-Saharan Africa | Eastern Africa |   Somalia    |     2020    |                57.33                |              40.00              |         16.537016          |         6.88        | 627340.00  |       None       |
+--------------------+----------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

### Correlation between GDP and Access to Basic Services

In [30]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_population_in_millions,
    Est_gdp_in_billions
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020
AND 
    Region = "Sub-Saharan Africa"
AND
    Est_gdp_in_billions IS NOT NULL
AND 
    Country_name  IN ("Nigeria", "Kenya", "Ethopia", "Ghana", "South Africa")
ORDER BY 
    Est_gdp_in_billions DESC

LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

4 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|   Nigeria    |     2020    |                77.33                |              42.67              |         208.327405         |        432.20       |
| South Africa |     2020    |                92.00                |              78.67              |         58.801927          |        337.62       |
|    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|    Ghana     |     2020    |                84.67                |              23.00              |         32.180401          |        70.04        |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+

##### Finding the Correlation Between The GDP and Access to Basic Services in Sub- Saharan Africa Regions

In [37]:
%%sql

SELECT 
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_population_in_millions,
    Est_gdp_in_billions
FROM
    Access_to_Basic_Services
WHERE
    Time_period = 2020
AND 
    Region = "Sub-Saharan Africa"
AND
    Est_gdp_in_billions IS NOT NULL

ORDER BY 
    Est_gdp_in_billions,
    Pct_managed_sanitation_services,
    Pct_managed_drinking_water_services 


LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|       Country_name       | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|  Sao Tome and Principe   |     2020    |                77.33                |              46.00              |          0.218641          |         0.47        |
|      Guinea-Bissau       |     2020    |                60.00                |              19.33              |          2.015828          |         1.43        |
|        Cabo Verde        |     2020    |                87.33                |              78.00              |          0.582640          |         1.70        |
|         Lesotho          |     2020    |                76.33                |              49.67              |          2.254100          |         2.23        |
| Central African Republic |     2020    |                38.33                |              15.00              |          5.343020          |         2.33        |
|         Burundi          |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |
|         Liberia          |     2020    |                75.00                |              17.67              |          5.087584          |         3.04        |
|         Djibouti         |     2020    |                69.00                |              56.00              |          1.090156          |         3.18        |
|         Eswatini         |     2020    |                76.67                |              61.33              |          1.180655          |         3.98        |
|       Sierra Leone       |     2020    |                65.00                |              17.33              |          8.233970          |         4.06        |
+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

In [42]:
%%sql

SELECT 
	Country_name,
	Time_period,
	Pct_managed_drinking_water_services,
	Pct_managed_sanitation_services,
	Est_population_in_millions,
	Est_gdp_in_billions
FROM 
	united_nations.Access_to_Basic_Services

WHERE
	Region = "Sub-Saharan Africa"
AND 
Time_period = 2020

AND 
	Est_gdp_in_billions IS NOT NULL

AND 
	Country_name  NOT IN ('Nigeria','South Africa','Ethiopia','Kenya','Ghana')
ORDER BY 
    Est_gdp_in_billions,
    Pct_managed_sanitation_services,
    Pct_managed_drinking_water_services 


LIMIT 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|       Country_name       | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|  Sao Tome and Principe   |     2020    |                77.33                |              46.00              |          0.218641          |         0.47        |
|      Guinea-Bissau       |     2020    |                60.00                |              19.33              |          2.015828          |         1.43        |
|        Cabo Verde        |     2020    |                87.33                |              78.00              |          0.582640          |         1.70        |
|         Lesotho          |     2020    |                76.33                |              49.67              |          2.254100          |         2.23        |
| Central African Republic |     2020    |                38.33                |              15.00              |          5.343020          |         2.33        |
|         Burundi          |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |
|         Liberia          |     2020    |                75.00                |              17.67              |          5.087584          |         3.04        |
|         Djibouti         |     2020    |                69.00                |              56.00              |          1.090156          |         3.18        |
|         Eswatini         |     2020    |                76.67                |              61.33              |          1.180655          |         3.98        |
|       Sierra Leone       |     2020    |                65.00                |              17.33              |          8.233970          |         4.06        |
+--------------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

## Reading Data From A Database

In [49]:
%load_ext sql

%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

### Reading Data From Columns

In [57]:


%config SqlMagic

SqlMagic(Magics, Configurable) options
------------------------------------
SqlMagic.autocommit=<Bool>
    Set autocommit mode
    Current: True
SqlMagic.autolimit=<Int>
    Automatically limit the size of the returned result sets
    Current: 0
SqlMagic.autopandas=<Bool>
    Return Pandas DataFrames instead of regular result sets
    Current: False
SqlMagic.autopolars=<Bool>
    Return Polars DataFrames instead of regular result sets
    Current: False
SqlMagic.column_local_vars=<Bool>
    Return data into local variables from column names
    Current: False
SqlMagic.displaycon=<Bool>
    Show connection string after execution
    Current: True
SqlMagic.displaylimit=<Int>
    Automatically limit the number of rows displayed (full result set is still
    stored)
    Current: 10
SqlMagic.dsn_filename=<Unicode>
    Path to DSN file. When the first argument is of the form [section], a
    sqlalchemy connection string is formed from the matching section in the DSN
    file.
    Current: '/Users/mac/.jupysql/connections.ini'
SqlMagic.feedback=<Int>
    Verbosity level. 0=minimal, 1=normal, 2=all
    Current: 1
SqlMagic.lazy_execution=<Bool>
    Whether to evaluate using ResultSet which will cause the plan to execute or
    just return a lazily executed plan allowing validating schemas, without
    expensive compute.Currently only supported for Spark Connection.
    Current: False
SqlMagic.named_parameters=<Parameters>
    Allow named parameters in queries (i.e., 'SELECT * FROM foo WHERE bar =
    :bar')
    Current: 'warn'
SqlMagic.polars_dataframe_kwargs=<key-1>=<value-1>...
    Polars DataFrame constructor keyword arguments(e.g. infer_schema_length,
    nan_to_null, schema_overrides, etc)
    Current: {}
SqlMagic.short_errors=<Bool>
    Don't display the full traceback on SQL Programming Error
    Current: True
SqlMagic.style=<Unicode>
    Set the table printing style to any of prettytable's defined styles
    (currently DEFAULT, MSWORD_FRIENDLY, PLAIN_COLUMNS, RANDOM, SINGLE_BORDER,
    DOUBLE_BORDER, MARKDOWN )
    Current: 'DEFAULT'

In [69]:
%load_ext sql

%sql sqlite:///chinook.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Switching to connection 'sqlite:///chinook.db'

In [70]:
%%sql
SELECT name FROM sqlite_master WHERE type='table';

Running query in 'sqlite:///chinook.db'

+------+
| name |
+------+
+------+